
    <!-- Food Callout -->
    <aside class="callout" id="food" name="foodlink">
        <div class="text-vertical-center">
            
        </div>
    </aside>
    
	
	
	<div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-sm-6 col-lg-offset-1">
                    <h1 id="h2culture">食べ物　Food</h1>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="clearfix"></div>
                </div>
                
            </div>

        </div>
        <!-- /.container -->
	

    </div>
    <!-- /.content-section-a -->
    
	<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Japanese cuisine (和食, washoku)</h2>
                    <p class="lead">Japanese cuisine offers an abundance of gastronomical delights with a boundless variety of regional and seasonal dishes as well as international cuisine. Restaurants range from mobile food stands to centuries old ryotei, atmospheric drinking places, seasonally erected terraces over rivers, cheap chain shops and unique theme restaurants about ninja and robots. Many restaurants are specialized in a single type of dish, while others offer a variety of dishes.</p>
					</div>
                
            </div>

        </div>
        <!-- /.container -->
	
	
    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a"> 
    

	
	<div id="foodgallery" style="margin-left:22%;">  
		<div id="gallery">
			<div id="panel">
				<img id="largeImage" src="img/food/image_foodstart_large.jpg" />
				<div id="description">Breakfast in bed</div>
			</div>

	 
			<div id="thumbs">
				<img src="img/food/image_kuro_thumb.jpg" alt="Burger King's Kuro Burger" id="burger" />
				<img src="img/food/image_tako_thumb.jpg" alt="Takoyaki" id="tako" />
				<img src="img/food/image_oko_thumb.jpg" alt="Okonomiyaki" id="oko" />
				<img src="img/food/image_kaiseki_thumb.jpg" alt="Kaiseki" id="kaiseki" />
				<img src="img/food/image_beer_thumb.jpg" alt="Beer" id="beer" />
			</div>
		</div>
	
<section>
    <div id="panel2">
        <div id="fooddescription" style="width:50%;">
        <h2 class="section-heading">Food from Japan</h2>
                    <p class="lead">Browse some interesting choices on the left
					by clicking on the image and viewing the description here.</p>
        </div>
    </div>
</div> 
<script>
$('#thumbs img').click(function(){
    $('#largeImage').attr('src',$(this).attr('src').replace('thumb','large'));
    $('#description').html($(this).attr('alt'));
});

$('#burger').click(function() {
  $('#fooddescription').html('<h2 class="section-heading">Burger Kings Kuro Burger</h2><p class="lead">The Kuro Burger is an all-over dusky affair, with buns made from bamboo charcoal, beef patties containing black pepper, and an onion and garlic sauce made from squid ink.And — to top it off — theres a slither of black cheese, which is also colored by the coal.</p>');
});

$('#tako').click(function() {
  $('#fooddescription').html('<h2 class="section-heading">Takoyaki</h2><p class="lead">Dumpling/fritter-like little balls stuffed with octopus, battered in flour and cooked on a griddle/ hot plate of sorts.  This tasty snack was originally created in the food market stalls of Osaka. Today you can still easily buy them on the streets from local vendors, but you can also find restaurants that specialize in making some pretty innovative versions of the traditional ones.</p>');
});

$('#oko').click(function() {
  $('#fooddescription').html('<h2 class="section-heading">Okonomiyaki</h2><p class="lead">This is type of Japanese pancake, although it’s savory not sweet – and its ingredients can vary from region to region in Japan.  Common fillings include pork belly, seafood (octopus, squid, & shrimp usually), veggies and cheese.  They’re very yummy and highly recommended.</p>');
});

$('#kaiseki').click(function() {
  $('#fooddescription').html('<h2 class="section-heading">Kaiseki</h2><p class="lead">A splurge but a true gourmet, traditional experience.  A Kaiseki is always a long meal (not a specific dish) in which each small dish is prepared with the utmost presentation.  The set-menu, its flavors and design always relate to the current season.  In the gourmet world, many view Kaiseki as an art form.</p>');
});

$('#beer').click(function() {
  $('#fooddescription').html('<h2 class="section-heading">Beer</h2><p class="lead">Beer is the most popular alcoholic drink in Japan. The leading breweries are Asahi, Kirin, Suntory and Sapporo. The art of brewing beer was imported in the early Meiji Period from Germany as a development project for the northern island of Hokkaido. "Third beer" (also known as "Shin Janru" or "New Genre") is the most recent development in the Japanese beer industry. In order to counter tax changes that reclassified the malt content of beer and subsequently raised the price of happoshu, this beer-like beverage contains no malt, instead using pea, soya, or wheat spirits.</p>');
});

</script>
   

    </div>
	</section>
    <!-- /.content-section-b -->
    <br /><br />
	
	
	
	
	<div class="content-section-a" style="clear: left">

        <div class="container" id="vowels">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Dining Out</h2>
                    <p class="lead">Many restaurants in Japan display <strong>plastic or wax replicas</strong> of their dishes in a window near their entrance. These replicas serve both to entice and inform patrons of the restaurant's menu and tend to offer an accurate, visual description of the style and price of meals found inside. The displays are especially helpful for foreign tourists who do not read and speak Japanese. For if all other forms of communication fail, you can go outside and point to what you want to order.</p>
					</div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <br /><br /><img class="img-responsive" src="img/window.jpg" width="" height="" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
	
	
	
		<br />	<br />
	<div class="content-section-b" style="clear: left">

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-lg-offset-3 col-sm-push-4">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ordering</h2>
                     <p class="lead">While many restaurants provide <strong>illustrated menus</strong>, other restaurants may only have Japanese text based menus, or the restaurant's offerings may instead be posted on the walls. If you are ever in doubt on what to order or find that you cannot read the menu, try asking for the recommendations (osusume) or the chef's choice (omakase). The latter will often get you some surprisingly good, prix fix style meals, but be prepared to be adventurous and do not expect it to be cheap.</p>
					 </div>
                <div class="col-lg-5 col-sm-pull-7  col-sm-6">
                    <br /><br /><img class="img-responsive" src="img/picmenu.jpg" width="" height="" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
	
	
	
	<div class="content-section-a">

        <div class="container" name="greeting">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Paying</h2>
                    <p class="lead">The bill will be presented upside down, either as you receive the meal or after you have finished eating. In most restaurants, you are supposed to bring your bill to the cashier near the exit when leaving, as it is not common to pay at the table. Paying in cash is most common, although more and more restaurants also accept credit cards or IC cards such as Suica.</p>
					</div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <br /><br /><br /><img class="img-responsive" src="img/waitress.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


