
    <!-- Food Callout -->
    <aside class="callout" id="food">
        <div class="text-vertical-center">
            
        </div>
    </aside>
    
    
    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a"> 
    
    
<div id="foodgallery">  
    <div id="gallery">
        <div id="panel">
            <img id="largeImage" src="img/food/image_foodstart_large.jpg" />
            <div id="description">Breakfast in bed</div>
        </div>

 
        <div id="thumbs">
            <img src="img/food/image_kuro_thumb.jpg" alt="Burger King's Kuro Burger" id="burger" />
            <img src="img/food/image_tako_thumb.jpg" alt="Takoyaki" id="tako" />
            <img src="img/food/image_oko_thumb.jpg" alt="Okonomiyaki" id="oko" />
            <img src="img/food/image_kaiseki_thumb.jpg" alt="Kaiseki" id="kaiseki" />
            <img src="img/food/image_beer_thumb.jpg" alt="Beer" id="beer" />
        </div>
    </div>

    <div id="panel2">
        <div id="fooddescription">
        <h2 class="section-heading">Food from Japan</h2>
                    <p class="lead">Browse our top choices on the left and see how
                    compares to the food served here in America!</p>
        </div>
    </div>
</div>  
<script>
$('#thumbs img').click(function(){
    $('#largeImage').attr('src',$(this).attr('src').replace('thumb','large'));
    $('#description').html($(this).attr('alt'));
});

$('#burger').click(function() {
  $('#fooddescription').html('<h2 class="section-heading">Burger Kings Kuro Burger</h2><p class="lead">The Kuro Burger is an all-over dusky affair, with buns made from bamboo charcoal, beef patties containing black pepper, and an onion and garlic sauce made from squid ink.And — to top it off — theres a slither of black cheese, which is also colored by the coal.</p>');
});

$('#tako').click(function() {
  $('#fooddescription').html('<h2 class="section-heading">Takoyaki</h2><p class="lead">Dumpling/fritter-like little balls stuffed with octopus, battered in flour and cooked on a griddle/ hot plate of sorts.  This tasty snack was originally created in the food market stalls of Osaka. Today you can still easily buy them on the streets from local vendors, but you can also find restaurants that specialize in making some pretty innovative versions of the traditional ones.</p>');
});

$('#oko').click(function() {
  $('#fooddescription').html('<h2 class="section-heading">Okonomiyaki</h2><p class="lead">This is type of Japanese pancake, although it’s savory not sweet – and its ingredients can vary from region to region in Japan.  Common fillings include pork belly, seafood (octopus, squid, & shrimp usually), veggies and cheese.  They’re very yummy and highly recommended.</p>');
});

$('#kaiseki').click(function() {
  $('#fooddescription').html('<h2 class="section-heading">Kaiseki</h2><p class="lead">A splurge but a true gourmet, traditional experience.  A Kaiseki is always a long meal (not a specific dish) in which each small dish is prepared with the utmost presentation.  The set-menu, its flavors and design always relate to the current season.  In the gourmet world, many view Kaiseki as an art form.</p>');
});

$('#beer').click(function() {
  $('#fooddescription').html('<h2 class="section-heading">Beer</h2><p class="lead">Beer is the most popular alcoholic drink in Japan. The leading breweries are Asahi, Kirin, Suntory and Sapporo. The art of brewing beer was imported in the early Meiji Period from Germany as a development project for the northern island of Hokkaido. "Third beer" (also known as "Shin Janru" or "New Genre") is the most recent development in the Japanese beer industry. In order to counter tax changes that reclassified the malt content of beer and subsequently raised the price of happoshu, this beer-like beverage contains no malt, instead using pea, soya, or wheat spirits.</p>');
});

</script>
   

    </div>
    <!-- /.content-section-b -->
    <br /><br /><br />


