<!-- Header -->
    <header id="top" class="header" style="padding-top: 10%; padding-bottom: 20%">
        <div class="text-vertical-center">
            <div>
            <h1 class="headingtop">Welcome to Japan!</h1>
            <h2 class="headingtop">日本へよこそう!</h2>
            <h3 class="headingtop">Nihon e yōkoso</h3>
            <br>
            
            </div>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Planning on traveling to Japan? Let Welcome to Japan guide you!</h2>
                    <p class="lead">We provide the essentials to make the most out of your travels whether it be for business or leisure.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
<!--
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <!--
	<section id="services" class="servicesbg">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-3">
                    <h2>Start Preparing Today!</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/food.png">
                            </span>
                                <h4>
                                    <strong style="color:black;">Food</strong>
                                </h4>
                                <p style="color:black;">Check out food you have to try while you're visiting Japan.</p>
                                <a href="index.html#/food" class="btn btn-light">View Our Menu</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/culture.png">
                            </span>
                                <h4>
                                    <strong style="color:black;">Culture</strong>
                                </h4>
                                <p style="color:black;">Become familiar with the culture you'll be immersed in!</p>
                                <a href="index.html#/culture" class="btn btn-light">Become Immersed</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/gengou.png">
                            </span>
                                <h4>
                                    <strong style="color:black;">Language</strong>
                                </h4>
                                <p style="color:black;">Do you know basics to get you around town?</p>
                                <a href="index.html#/language" class="btn btn-light">Test Yourself</a>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/travel.png">
                            </span>
                                <h4>
                                    <strong style="color:black;">Hot Tourist Spots</strong>
                                </h4>
                                <p style="color:black;">View all the popular locations that tourists visit to start planning today!</p>
                                <a href="index.html#/tourist" class="btn btn-light">Explore Japan</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) 
                </div>
				
                <!-- /.col-lg-10 
            </div>
            <!-- /.row 
        </div>
        <!-- /.container 
    </section>
	-->
	
	<!-- Project One -->
        <div class="row">
            <div class="col-md-6">
                <a href="index.html#/food">
                    <img class="img-responsive img-hover" src="img/foodhome2.png" width="700" height="300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3><strong>Japanese Food</strong></h3>
                <h4><strong>Check out food you have to try while you're visiting Japan.</strong></h4>
                <p style="font-size: 16px">Through a long culinary past, the Japanese have developed sophisticated and refined cuisine. In recent years, Japanese food has become fashionable and popular in the United States, Europe, and many other areas. Dishes such as sushi, tempura, and teriyaki are some of the foods that are commonly known. The Japanese diet consists principally of rice; fresh, lean seafood; and pickled or boiled vegetables. The healthy Japanese diet is often believed to be related to the longevity of Japanese people.</p>
                <a class="btn btn-primary" href="index.html#/food#food">View Our Top Picks</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-6">
                <a href="index.html#/culture">
                    <img class="img-responsive img-hover" src="img/culturehome.png" width="700" height="300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3><strong>Japanese Culture</strong></h3>
                <h4><strong>Become familiar with the culture you'll be immersed in!</strong></h4>
                <p style="font-size: 16px">Japanese popular culture not only reflects the attitudes and concerns of the present day, but also provides a link to the past. Popular films, television programs, manga, music, and video games all developed from older artistic and literary traditions, and many of their themes and styles of presentation can be traced to traditional art forms. Contemporary forms of popular culture, much like the traditional forms, provide not only entertainment but also an escape for the contemporary Japanese from the problems of an industrial world.</p>
                <a class="btn btn-primary" href="index.html#/culture">Become Immersed</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-6">
                <a href="index.html#/language">
                    <img class="img-responsive img-hover" src="img/languagehome.png" width="700" height="300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3><strong>Japanese Language</strong></h3>
                <h4><strong>A Basic Outlook</strong></h4>
                <p style="font-size: 16px">Learn the basics about Japanese and the written combination of its three scripts: hiragana, derived from the Chinese cursive script, katakana, derived as a shorthand from Chinese characters, and kanji, imported from China. The Latin alphabet, rōmaji, is also often used in modern Japanese, especially for company names and logos, advertising, and when inputting Japanese into a computer.</p>
                <a class="btn btn-primary" href="index.html#/language">Start Learning!</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-6">
                <a href="index.html#/tourist">
                    <img class="img-responsive img-hover" src="img/travelhome.png" width="700" height="300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3><strong>Tourist Attractions</strong></h3>
                <h4><strong>View all the popular locations that tourists visit to start planning today!</strong></h4>
                <p style="font-size: 16px">Japan is an island nation in the Pacific Ocean with high-rise-filled cities, imperial palaces, mountainous national parks and thousands of shrines and temples. Tokyo, the crowded capital, is known for its neon skyscrapers and pop culture. In contrast, Kyoto offers Buddhist temples, Shinto shrines, gardens and cherry blossoms. Sushi, the national dish, is served everywhere from casual pubs to gourmet restaurants.</p>
                <a class="btn btn-primary" href="index.html#/tourist">Start Planning!</i></a>
            </div>
        </div>
        <!-- /.row -->
