<!-- Header -->
    <header id="top" class="header" style="padding-top: 10%; padding-bottom: 20%">
        <div class="text-vertical-center">
            <div>
            <h1 class="headingtop">Welcome to Japan!</h1>
            <h2 class="headingtop">日本へよこそう!</h2>
            <h3 class="headingtop">Nihon e yōkoso</h3>
            <br>
            
            </div>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Planning on traveling to Japan? Let Welcome to Japan guide you!</h2>
                    <p class="lead">We provide the essentials to make the most out of your travels whether it be for business or leisure.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="servicesbg">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-3">
                    <h2>Start Preparing Today!</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/food.png">
                            </span>
                                <h4>
                                    <strong>Food</strong>
                                </h4>
                                <p>Check out food you have to try while you're visiting Japan.</p>
                                <a href="index.html#/food" class="btn btn-light">View Our Menu</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/culture.png">
                            </span>
                                <h4>
                                    <strong>Culture</strong>
                                </h4>
                                <p>Become familiar with the culture you'll be immersed in!</p>
                                <a href="index.html#/culture" class="btn btn-light">Become Immersed</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/gengou.png">
                            </span>
                                <h4>
                                    <strong>Language</strong>
                                </h4>
                                <p>Do you know basics to get you around town?</p>
                                <a href="index.html#/language" class="btn btn-light">Test Yourself</a>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/travel.png">
                            </span>
                                <h4>
                                    <strong>Hot Tourist Spots</strong>
                                </h4>
                                <p>View all the popular locations that tourists visit to start planning today!</p>
                                <a href="index.html#/tourist" class="btn btn-light">Explore Japan</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>