 <!-- Language Callout -->
    <aside class="lcallout" id="language">
        <div class="text-vertical-center">
        </div>
    </aside>
	
	
 <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-sm-6 col-lg-offset-1">
                    <h1 id="h2culture">言語　Language</h1>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="clearfix"></div>
                </div>
                
            </div>

        </div>
        <!-- /.container -->
	

    </div>
    <!-- /.content-section-a -->
	
	
	<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">A Beginner's Look at Japanese</h2>
                    <p class="lead">The first step to learning the Japanese language is to learn the alphabet. 
					Or, at least, to learn the sounds that exist in the language. There are absolutely no 
					"tones" in Japanese like in many other Asian languages and there are only 2 exceptions 
					within the alphabet which will be explained later. The Japanese alphabet does not contain 
					letters but, instead, contains characters and, technically, they are not alphabets but 
					character sets. There are three character sets: <a href="index.html#/language#hiragana"><strong>Hiragana</strong></a>, 
					<a href="index.html#/language#katakana"><strong>Katakana</strong></a>, and <strong>Kanji</strong> (Chinese 
					characters). Hiragana is the main alphabet or character set for Japanese and Katakana
					is used for foreign words.</p>
					</div>
                
            </div>

        </div>
        <!-- /.container -->
		
		
	<!--Links-->
	   <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2 style="color:black">Start Learning!</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/hiragana.png">
                            </span>
                                <h4>
                                    <strong style="color:black;">Hiragana</strong>
                                </h4>
                                <p style="color:black;">Learn the main alphabet in Japanese.</p>
                                <a href="index.html#/language#hiragana" class="btn btn-light">Learn Hiragana</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/katakana.png">
                            </span>
                                <h4>
                                    <strong style="color:black;">Katakana</strong>
                                </h4>
                                <p style="color:black;">Learn the alphabet used for foreign words.</p>
                                <a href="index.html#/language#katakana" class="btn btn-light">Learn Katakana</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/phrase.png">
                            </span>
                                <h4>
                                    <strong style="color:black;">Phrases</strong>
                                </h4>
                                <p style="color:black;">Learn common phrases used in Japan.</p>
                                <a href="index.html#/language#phrases" class="btn btn-light">Start Speaking</a>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="fa-stack-1x text-primary" src="img/gemu.png">
                            </span>
                                <h4>
                                    <strong style="color:black;">Test Your Knowledge</strong>
                                </h4>
                                <p style="color:black;">Test yourself with the Japanese phrases game.</p>
                                <a href="index.html#/language#game" class="btn btn-light">Play Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>	
		
	
	<div class="content-section-a">

        <div class="container" id="vowels">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Vowels in Japanese</h2>
                    <p class="lead">There are 5 vowels in Japanese. (a), pronounced "ahh", (i), pronounced like "e" in "eat", 
					(u), pronounced like "oo" in "soon", (e), pronounced like "e" in "elk", and (o), 
					pronounced "oh". All Hiragana characters end with one of these vowels, with the exception 
					of (n). The only "consonant" that does not resemble that of English is the Japanese "r". 
					It is slightly "rolled" as if it were a combination of a "d", "r", and "l".</p>
					</div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <br /><iframe width="560" height="315" src="https://www.youtube.com/embed/VPJIwff3w0I" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <!-- /.container -->


	<br /><br /><br />
	<!--Hiragana -->
	<div class="container" id="hiragana">
            <div class="row">
                <div class="col-lg-12">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">ひらがな Hiragana</h2>
                    <p class="lead">Hiragana developed from Chinese characters and were originally called 
						女で(onnade) or 'women's hand' as were used mainly by 
						women - men wrote in kanji and katakana. By the 10th century, hiragana were used 
						by everybody. The word hiragana means "oridinary syllabic script".
						</p>
					</div>
                
            </div>

        </div>
        <!-- /.container -->
	    </div>
    <!-- /.content-section-a -->
	
	<div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-6  col-sm-push-6 col-sm-6">
                    <div class="clearfix"></div><br /><br />
					<h3 class="section-heading">Long Vowels</h3>
						<img class="img-responsive" src="img/hiragana_lv.gif" alt="">
					<br /><br />
                    <p class="lead">
						The symbols on the right are the basic hiragana syllabary in the order they appear in 
						dictionaries and indices (reading from left to right and top to bottom). Additional 
						sounds (the symbols on the right) are represented by diacritics and combinations of symbols.</p>
						<br /><br />
						
						<iframe width="560" height="315" src="https://www.youtube.com/embed/LrXHizFaol0?list=PLIljp6Sd2n4O3UUbYVMjaVd7_75c_IqPu" frameborder="0" allowfullscreen></iframe>
						</p> </div>
                <div class="col-lg-6 col-sm-pull-6 col-sm-6">
                    <br /><br /><br /><img class="img-responsive" src="img/hiragana3.gif" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
	
	
	<br /><br /><br />
	<!--Katakana -->
	<div class="container" id="katakana">
            <div class="row">
                <div class="col-lg-12">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">カタカナ Katakana</h2>
                    <p class="lead">The katakana syllabary consists of 48 syllables 
					and was originally considered "men's writing". Since the 20th 
					century, katakana have been used mainly to write non-Chinese loan 
					words, onomatopoeic words, foreign names, in telegrams and for 
					emphasis (the equivalent of bold, italic or upper case text in 
					English). Before the 20th century all foreign loanwords were written 
					with kanji.
						</p>
					</div>
                
            </div>

        </div>
        <!-- /.container -->
	
	
	
	<div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-6  col-sm-push-6 col-sm-6">
                    <div class="clearfix"></div><br /><br />
					<h3 class="section-heading">Long Vowels</h3>
						<img class="img-responsive" src="img/katakana_lv.gif" alt="">
					<br /><br />
                    <p class="lead">
						The symbols on the right are the basic katakana syllabary in the order they 
						appear in dictionaries and indices (reading from left to right and top to 
						bottom). Additional sounds (the symbols on the right) are represented by 
						diacritics and combinations of symbols.<br /><br />
						
						<iframe width="560" height="315" src="https://www.youtube.com/embed/UzNWu89pn_I" frameborder="0" allowfullscreen></iframe>
						</p> </div>
                <div class="col-lg-6 col-sm-pull-6 col-sm-6">
                    <br /><br /><br /><img class="img-responsive" src="img/katakana3.gif" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
	<br /><br /><br />
	<div class="container" id="phrases">
            <div class="row">
                <div class="col-lg-12">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Japanese Phrases</h2>
                    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;border-top-width:1px;border-bottom-width:1px;}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e">English</th>
    <th class="tg-031e">Romaji (Japanese with English characters)</th>
    <th class="tg-031e">Japanese</th>
    <th class="tg-031e">Audio</th>
  </tr>
  <tr>
    <td class="tg-031e">Thank you.</td>
    <td class="tg-031e" style="color:#FF4040">Arigatoo gozaimasu.</td>
    <td class="tg-031e"><strong>ありがとうございます。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/ありがとうございます.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">Thank you very much.</td>
    <td class="tg-031e" style="color:#FF4040">Doomo arigatoo gozaimasu.</td>
    <td class="tg-031e"><strong>どうもありがとうございます。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/どうもありがとうございます.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">You're welcome.</td>
    <td class="tg-031e" style="color:#FF4040">Doo itashimashite.</td>
    <td class="tg-031e"><strong>どういたしまして。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/どういたしまして.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">Please.</td>
    <td class="tg-031e" style="color:#FF4040">Onegai shimasu.</td>
    <td class="tg-031e"><strong>お願いします。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/お願いします.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">Yes.</td>
    <td class="tg-031e" style="color:#FF4040">Hai.</td>
    <td class="tg-031e"><strong>はい。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/hai.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">No.</td>
    <td class="tg-031e" style="color:#FF4040">Iie.</td>
    <td class="tg-031e"><strong>いいえ。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/いいえ.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">Excuse Me.</td>
    <td class="tg-031e" style="color:#FF4040">Sumimasen.</td>
    <td class="tg-031e"><strong>すみません。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/すみません.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">I'm Sorry.</td>
    <td class="tg-031e" style="color:#FF4040">Gomen’nasai.</td>
    <td class="tg-031e"><strong>ごめんなさい。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/ごめんなさい.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">I don't understand.</td>
    <td class="tg-031e" style="color:#FF4040">Wakarimasen.</td>
    <td class="tg-031e"><strong>わかりません。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/わかりません.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">I don't speak Japanese.</td>
    <td class="tg-031e" style="color:#FF4040">Nihongo ga wakarimasen.</td>
    <td class="tg-031e"><strong>日本語がわかりません。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/日本語がわかりません.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">I don't speak Japanese very well.</td>
    <td class="tg-031e" style="color:#FF4040">Nihongo wa amari joozu ja arimasen.</td>
    <td class="tg-031e"><strong>日本語はあまり上手じゃありません。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/日本語はあまり上手じゃありません.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">Do you speak English?</td>
    <td class="tg-031e" style="color:#FF4040">Eigo o hanashimasu ka?</td>
    <td class="tg-031e"><strong>英語を話しますか？</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/英語を話しますか.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">Speak slowly, please.</td>
    <td class="tg-031e" style="color:#FF4040">Yukkuri hanashite kudasai.</td>
    <td class="tg-031e"><strong>ゆっくり話してください。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/ゆっくり話してください.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td class="tg-031e">Repeat, please.</td>
    <td class="tg-031e" style="color:#FF4040">Moo ichido onegai shimasu.</td>
    <td class="tg-031e"><strong>もう一度お願いします。</strong></td>
    <td class="tg-031e"><audio controls><source src="sound/もう一度お願いします.mp3" type="audio/mpeg"></audio></td>
  </tr>
</table>
					</div>
                
            </div>

        </div>
        <!-- /.container -->
		
		
	<br /><br /><br />
    <!-- Game -->
    <section id="game">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Think you're ready for Japan?</h2>

                    <h3>Game - Test your language knowledge</h3>
                        <div id="tutorial-memorygame" class="quizy-memorygame">
                          <ul>
                              <li class="match1">
                                <img src="img/game/cards_bathroom.png">
                              </li>
                              <li class="match2">
                                <img src="img/game/cards_dontunderstand.png">
                              </li>
                              <li class="match3">
                                <img src="img/game/cards_excuseme.png">
                              </li>
                              <li class="match4">
                                <img src="img/game/cards_no.png">
                              </li>
                              <li class="match5">
                                <img src="img/game/cards_thankyou.png">
                              </li>
                              <li class="match6">
                                <img src="img/game/cards_yes.png">
                              </li>
                              <li class="match1">
                                <br><br><br><p class="text-style1">Bathroom</p>
                              </li>
                              <li class="match2">
                                <br><br><br><p class="text-style1">I don't understand</p>
                              </li>
                              <li class="match3">
                                <br><br><br><p class="text-style1">Excuse me</p>
                              </li>
                              <li class="match4">
                                <br><br><br><p class="text-style1">No</p>
                              </li>
                              <li class="match5">
                                <br><br><br><p class="text-style1">Thank you</p>
                              </li>
                              <li class="match6">
                                <br><br><br><p class="text-style1">Yes</p>
                              </li>
                          </ul>
                        </div>
                        
                        
                        <div class="reset-button">
                          <a id="restart" href="index.html#/language">Reset game</a>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <!--GAME scripts-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="js/game/jquery-ui-1.8.17.custom.min.js"></script>
      
    <script src="js/game/jquery.flip.min.js"></script>
    <script src="js/game/jquery.quizymemorygame.js"></script>
      
    <script>
        var quizyParams = {itemWidth: 156, itemHeight: 156, itemsMargin:40, colCount:4, animType:'flip' , flipAnim:'tb', animSpeed:250, resultIcons:true, randomised:true }; 
        $('#tutorial-memorygame').quizyMemoryGame(quizyParams);
        $('#restart').click(function(){
          $('#tutorial-memorygame').quizyMemoryGame('restart');
          return false;
        });
    </script>

    
    
    
