<!-- Tourist Callout -->
    <aside class="travelcallout" id="portfolio">
        <div class="text-vertical-center">
            
        </div>
    </aside>    
    
    
    <!-- Portfolio -->
    <section class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>旅行　Tourist Attractions</h2>
                    <h5>*Please click or tap each image to read more information*</h5>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                            <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
                                <img class="img-portfolio img-responsive" src="img/tokyotower.jpg"></a></p>
                                <div id="light" class="white_content"><h3>Tokyo Tower (東京タワー Tōkyō tawā)</h3> is a communications and 
                                    observation tower located in the Shiba-koen district of Minato, Tokyo, Japan. At 333 metres 
                                    (1,093 ft), it is the second-tallest structure in Japan. The structure is an Eiffel Tower-inspired 
                                    lattice tower that is painted white and international orange to comply with air safety regulations.
                                    Built in 1958, the tower's main sources of revenue are tourism and antenna leasing. Over 150 
                                    million people have visited the tower since its opening. FootTown, a four-story building located 
                                    directly under the tower, houses museums, restaurants and shops. Departing from there, guests can 
                                    visit two observation decks.
                                    <br /><a href="http://www.tokyotower.co.jp/index.html" class="btn btn-dark" target=_blank>Read More</a>
                                    <br /> <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a></div>
                            <div id="fade" class="black_overlay"></div>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href = "javascript:void(0)" onclick = "document.getElementById('light2').style.display='block';document.getElementById('fade2').style.display='block'">
                                    <img class="img-portfolio img-responsive" src="img/kiyomizu.jpg"></a></p>
                                <div id="light2" class="white_content"><h3>Kiyomizu-dera (清水寺)</h3> Officially Otowa-san Kiyomizu-dera (音羽山清水寺) 
                                    is an independent Buddhist temple in eastern Kyoto. The temple is part of the Historic Monuments of Ancient Kyoto 
                                    (Kyoto, Uji and Otsu Cities) UNESCO World Heritage site. Kiyomizu-dera was founded in the early Heian period. The 
                                    temple was founded in 798, and its present buildings were constructed in 1633, ordered by the Tokugawa Iemitsu. 
                                    There is not a single nail used in the entire structure. It takes its name from the waterfall within the complex, 
                                    which runs off the nearby hills. Kiyomizu means clear water, or pure water.<br />
                                    <a href="http://www.kiyomizudera.or.jp/" class="btn btn-dark" target=_blank>Read More</a>
                                    <br /><a href = "javascript:void(0)" onclick = "document.getElementById('light2').style.display='none';document.getElementById('fade2').style.display='none'">Close</a></div>
                                <div id="fade2" class="black_overlay"></div>
                                    
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href = "javascript:void(0)" onclick = "document.getElementById('light3').style.display='block';document.getElementById('fade3').style.display='block'">
                                    <img class="img-portfolio img-responsive" src="img/tokyodisney.jpg"></a></p>
                                <div id="light3" class="white_content"><h3>Tokyo Disneyland (東京ディズニーランド Tōkyō Dizunīrando)</h3> is an 115-acre 
                                    (465,000 m2) theme park at the Tokyo Disney Resort in Urayasu, Chiba, Japan, near Tokyo. Its main gate is directly 
                                    adjacent to both Maihama Station and Tokyo Disneyland Station. It was the first Disney park to be built outside 
                                    the United States, and it opened on April 15, 1983. The park was constructed by Walt Disney Imagineering in the 
                                    same style as Disneyland in California and Magic Kingdom in Florida. It is owned by The Oriental Land Company, 
                                    which licenses the theme from The Walt Disney Company.<br />
                                         <a href="http://www.tokyodisneyresort.jp/en/tdl/" class="btn btn-dark" target=_blank>Purchase Tickets</a>
                
                                    <br /><a href = "javascript:void(0)" onclick = "document.getElementById('light3').style.display='none';document.getElementById('fade3').style.display='none'">Close</a></div>
                                <div id="fade3" class="black_overlay"></div>
                                                                 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href = "javascript:void(0)" onclick = "document.getElementById('light4').style.display='block';document.getElementById('fade4').style.display='block'">
                                    <img class="img-portfolio img-responsive" src="img/fushimi2.jpg"></a></p>
                                <div id="light4" class="white_content"><h3>Fushimi Inari Taisha (伏見稲荷大社)</h3> is the head 
                                shrine of Inari, located in Fushimi-ku, Kyoto, Japan. The shrine sits at the base of a mountain 
                                also named Inari which is 233 metres above sea level, and includes trails up the mountain to many 
                                smaller shrines which span 4 kilometers and takes approximately 2 hours to walk up.
                                Since early Japan, Inari was seen as the patron of business, and merchants and manufacturers have 
                                traditionally worshipped Inari. Each of the torii at Fushimi Inari Taisha is donated by a Japanese 
                                business.
                                This popular shrine is said to have as many as 32,000 sub-shrines (bunsha (分社) throughout Japan.<br />
                                <a href="http://www.inari.jp" class="btn btn-dark" target=_blank>Read More</a>
                    
                                <br /><a href = "javascript:void(0)" onclick = "document.getElementById('light4').style.display='none';document.getElementById('fade4').style.display='none'">Close</a></div>
                                <div id="fade4" class="black_overlay"></div>
                                    
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <a href="https://www.google.com/flights/#search;f=MCO,SFB;t=HND,NRT;q=airlines+tickets+to+japan;d=2015-04-06;r=2015-04-10" class="btn btn-dark" target=_blank>Book Your Flight</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>View these tourist spots' locations in Japan according to the map below!</h3>
                    <!--
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
                    -->
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section class="map">
    
    <iframe src="https://www.google.com/maps/d/embed?mid=zxqQRDMPTI-A.kzHGKL05Eo18" width="100%" height="500"></iframe></section>
